@tailwind base;
@tailwind components;
@tailwind utilities;


.TailwindTest{
  @apply text-red-500;
}

#master {
  border: solid black;
  display: flex;
}

#ThirdColumn {
  border: solid rgb(17, 0, 255);
  width: 80%;
}

#SecondColumn {
  border: solid red;
  width: 10%;
}

#profile {
  border: solid purple;
  height: 10%;
}

#SecondColumnInterface {
  border: solid green;
  height: 90%;
}

#navigation {
  border: solid rgb(225, 255, 0);
  height: 768px;
  width: 10%;
}
